
@media (min-width: 640px) { 
  .uk-margin-s {margin:40px;}
  .uk-margin-small-s {margin: 10px}
  .uk-margin-default-s {margin: 20px}
  .uk-margin-medium-s {margin: 25px}
  .uk-margin-large-s {margin: 50px}

  .uk-margin-top-s {margin-top:40px;}
  .uk-margin-small-top-s {margin-top: 10px}
  .uk-margin-default-top-s {margin-top: 20px}
  .uk-margin-medium-top-s {margin-top: 25px}
  .uk-margin-large-top-s {margin-top: 50px}
  
  .uk-margin-bottom-s {margin-bottom:40px;}
  .uk-margin-small-bottom-s {margin-bottom: 10px}
  .uk-margin-default-bottom-s {margin-bottom: 20px}
  .uk-margin-medium-bottom-s {margin-bottom: 25px}
  .uk-margin-large-bottom-s {margin-bottom: 50px}
  .uk-margin-remove-bottom-s {margin-bottom:0!important}

  .uk-margin-left-s {margin-left:40px;}
  .uk-margin-small-left-s {margin-left: 10px}
  .uk-margin-default-left-s {margin-left: 20px}
  .uk-margin-medium-left-s {margin-left: 25px}
  .uk-margin-large-left-s {margin-left: 50px}

  .uk-margin-right-s {margin-right:40px;}
  .uk-margin-small-right-s {margin-right: 10px}
  .uk-margin-default-right-s {margin-right: 20px}
  .uk-margin-medium-right-s {margin-right: 25px}
  .uk-margin-large-right-s {margin-right: 50px}
}
@media (min-width: 960px) { 
  .uk-margin-m {margin:40px;}
  .uk-margin-small-m {margin: 10px}
  .uk-margin-default-m {margin: 20px}
  .uk-margin-medium-m {margin: 25px}
  .uk-margin-large-m {margin: 50px}

  .uk-margin-top-m {margin-top:40px;}
  .uk-margin-small-top-m {margin-top: 10px}
  .uk-margin-default-top-m {margin-top: 20px}
  .uk-margin-medium-top-m {margin-top: 25px}
  .uk-margin-large-top-m {margin-top: 50px}

  .uk-margin-bottom-m {margin-bottom:40px;}
  .uk-margin-small-bottom-m {margin-bottom: 10px}
  .uk-margin-default-bottom-m {margin-bottom: 20px}
  .uk-margin-medium-bottom-m {margin-bottom: 25px}
  .uk-margin-large-bottom-m {margin-bottom: 50px}

  .uk-margin-left-m {margin-left:40px;}
  .uk-margin-small-left-m {margin-left: 10px}
  .uk-margin-default-left-m {margin-left: 20px}
  .uk-margin-medium-left-m {margin-left: 25px}
  .uk-margin-large-left-m {margin-left: 50px}

  .uk-margin-right-m {margin-right:40px;}
  .uk-margin-small-right-m {margin-right: 10px}
  .uk-margin-default-right-m {margin-right: 20px}
  .uk-margin-medium-right-m {margin-right: 25px}
  .uk-margin-large-right-m {margin-right: 50px}
}
@media (min-width: 1200px) { 
  .uk-margin-l {margin:40px;}
  .uk-margin-small-l {margin: 10px}
  .uk-margin-default-l {margin: 20px}
  .uk-margin-medium-l {margin: 25px}
  .uk-margin-large-l {margin: 50px}

  .uk-margin-top-l {margin-top:40px;}
  .uk-margin-small-top-l {margin-top: 10px}
  .uk-margin-default-top-l {margin-top: 20px}
  .uk-margin-medium-top-l {margin-top: 25px}
  .uk-margin-large-top-l {margin-top: 50px}

  .uk-margin-bottom-l {margin-bottom:40px;}
  .uk-margin-small-bottom-l {margin-bottom: 10px}
  .uk-margin-default-bottom-l {margin-bottom: 20px}
  .uk-margin-medium-bottom-l {margin-bottom: 25px}
  .uk-margin-large-bottom-l {margin-bottom: 50px}

  .uk-margin-left-l {margin-left:40px;}
  .uk-margin-small-left-l {margin-left: 10px}
  .uk-margin-default-left-l {margin-left: 20px}
  .uk-margin-medium-left-l {margin-left: 25px}
  .uk-margin-large-left-l {margin-left: 50px}

  .uk-margin-right-l {margin-right:40px;}
  .uk-margin-small-right-l {margin-right: 10px}
  .uk-margin-default-right-l {margin-right: 20px}
  .uk-margin-medium-right-l {margin-right: 25px}
  .uk-margin-large-right-l {margin-right: 50px}
}

@media (min-width: 1600px) { 
  .uk-margin-xl {margin:40px;}
  .uk-margin-small-xl {margin: 10px}
  .uk-margin-default-xl {margin: 20px}
  .uk-margin-medium-xl {margin: 25px}
  .uk-margin-large-xl {margin: 50px}

  .uk-margin-top-xl {margin-top:40px;}
  .uk-margin-small-top-xl {margin-top: 10px}
  .uk-margin-default-top-xl {margin-top: 20px}
  .uk-margin-medium-top-xl {margin-top: 25px}
  .uk-margin-large-top-xl {margin-top: 50px}

  .uk-margin-bottom-xl {margin-bottom:40px;}
  .uk-margin-small-bottom-xl {margin-bottom: 10px}
  .uk-margin-default-bottom-xl {margin-bottom: 20px}
  .uk-margin-medium-bottom-xl {margin-bottom: 25px}
  .uk-margin-large-bottom-xl {margin-bottom: 50px}

  .uk-margin-left-xl {margin-left:40px;}
  .uk-margin-small-left-xl {margin-left: 10px}
  .uk-margin-default-left-xl {margin-left: 20px}
  .uk-margin-medium-left-xl {margin-left: 25px}
  .uk-margin-large-left-xl {margin-left: 50px}

  .uk-margin-right-xl {margin-right:40px;}
  .uk-margin-small-right-xl {margin-right: 10px}
  .uk-margin-default-right-xl {margin-right: 20px}
  .uk-margin-medium-right-xl {margin-right: 25px}
  .uk-margin-large-right-xl {margin-right: 50px}
}

@include mq(1440px){
  .uk-margin-large-top.account {
    margin-top: 30px!important;
  }
}
