
.uk-padding {padding:40px;}
.uk-padding-small {padding: 10px}
.uk-padding-default {padding: 20px}
.uk-padding-medium {padding: 25px}
.uk-padding-large {padding: 50px}

.uk-padding-top {padding-top:40px;}
.uk-padding-small-top {padding-top: 10px}
.uk-padding-default-top {padding-top: 20px}
.uk-padding-medium-top {padding-top: 25px}
.uk-padding-large-top {padding-top: 50px}

.uk-padding-bottom {padding-bottom:40px;}
.uk-padding-small-bottom {padding-bottom: 10px}
.uk-padding-default-bottom {padding-bottom: 20px}
.uk-padding-medium-bottom {padding-bottom: 25px}
.uk-padding-large-bottom {padding-bottom: 50px}

.uk-padding-left {padding-left:40px;}
.uk-padding-small-left {padding-left: 10px}
.uk-padding-default-left {padding-left: 20px}
.uk-padding-medium-left {padding-left: 25px}
.uk-padding-large-left {padding-left: 50px}

.uk-padding-right {padding-right:40px;}
.uk-padding-small-right {padding-right: 10px}
.uk-padding-default-right {padding-right: 20px}
.uk-padding-medium-right {padding-right: 25px}
.uk-padding-large-right {padding-right: 50px}

@media (min-width: 640px) { 
  .uk-padding-s {padding:40px;}
  .uk-padding-small-s {padding: 10px}
  .uk-padding-default-s {padding: 20px}
  .uk-padding-medium-s {padding: 25px}
  .uk-padding-large-s {padding: 50px}

  .uk-padding-top-s {padding-top:40px;}
  .uk-padding-small-top-s {padding-top: 10px}
  .uk-padding-default-top-s {padding-top: 20px}
  .uk-padding-medium-top-s {padding-top: 25px}
  .uk-padding-large-top-s {padding-top: 50px}

  .uk-padding-bottom-s {padding-bottom:40px;}
  .uk-padding-small-bottom-s {padding-bottom: 10px}
  .uk-padding-default-bottom-s {padding-bottom: 20px}
  .uk-padding-medium-bottom-s {padding-bottom: 25px}
  .uk-padding-large-bottom-s {padding-bottom: 50px}

  .uk-padding-left-s {padding-left:40px;}
  .uk-padding-small-left-s {padding-left: 10px}
  .uk-padding-default-left-s {padding-left: 20px}
  .uk-padding-medium-left-s {padding-left: 25px}
  .uk-padding-large-left-s {padding-left: 50px}

  .uk-padding-right-s {padding-right:40px;}
  .uk-padding-small-right-s {padding-right: 10px}
  .uk-padding-default-right-s {padding-right: 20px}
  .uk-padding-medium-right-s {padding-right: 25px}
  .uk-padding-large-right-s {padding-right: 50px}
}
@media (min-width: 960px) { 
  .uk-padding-m {padding:40px;}
  .uk-padding-small-m {padding: 10px}
  .uk-padding-default-m {padding: 20px}
  .uk-padding-medium-m {padding: 25px}
  .uk-padding-large-m {padding: 50px}

  .uk-padding-top-m {padding-top:40px;}
  .uk-padding-small-top-m {padding-top: 10px}
  .uk-padding-default-top-m {padding-top: 20px}
  .uk-padding-medium-top-m {padding-top: 25px}
  .uk-padding-large-top-m {padding-top: 50px}

  .uk-padding-bottom-m {padding-bottom:40px;}
  .uk-padding-small-bottom-m {padding-bottom: 10px}
  .uk-padding-default-bottom-m {padding-bottom: 20px}
  .uk-padding-medium-bottom-m {padding-bottom: 25px}
  .uk-padding-large-bottom-m {padding-bottom: 50px}

  .uk-padding-left-m {padding-left:40px;}
  .uk-padding-small-left-m {padding-left: 10px}
  .uk-padding-default-left-m {padding-left: 20px}
  .uk-padding-medium-left-m {padding-left: 25px}
  .uk-padding-large-left-m {padding-left: 50px}

  .uk-padding-right-m {padding-right:40px;}
  .uk-padding-small-right-m {padding-right: 10px}
  .uk-padding-default-right-m {padding-right: 20px}
  .uk-padding-medium-right-m {padding-right: 25px}
  .uk-padding-large-right-m {padding-right: 50px}
}
@media (min-width: 1200px) { 
  .uk-padding-l {padding:40px;}
  .uk-padding-small-l {padding: 10px}
  .uk-padding-default-l {padding: 20px}
  .uk-padding-medium-l {padding: 25px}
  .uk-padding-large-l {padding: 50px}

  .uk-padding-top-l {padding-top:40px;}
  .uk-padding-small-top-l {padding-top: 10px}
  .uk-padding-default-top-l {padding-top: 20px}
  .uk-padding-medium-top-l {padding-top: 25px}
  .uk-padding-large-top-l {padding-top: 50px}

  .uk-padding-bottom-l {padding-bottom:40px;}
  .uk-padding-small-bottom-l {padding-bottom: 10px}
  .uk-padding-default-bottom-l {padding-bottom: 20px}
  .uk-padding-medium-bottom-l {padding-bottom: 25px}
  .uk-padding-large-bottom-l {padding-bottom: 50px}

  .uk-padding-left-l {padding-left:40px;}
  .uk-padding-small-left-l {padding-left: 10px}
  .uk-padding-default-left-l {padding-left: 20px}
  .uk-padding-medium-left-l {padding-left: 25px}
  .uk-padding-large-left-l {padding-left: 50px}

  .uk-padding-right-l {padding-right:40px;}
  .uk-padding-small-right-l {padding-right: 10px}
  .uk-padding-default-right-l {padding-right: 20px}
  .uk-padding-medium-right-l {padding-right: 25px}
  .uk-padding-large-right-l {padding-right: 50px}
}
