doctype html
html
  head
    title ODS Starter
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1')
    link(rel='stylesheet' href='/scss/style.scss') 
    link(rel='icon' href='/img/fav.png' type='image/png')
    block head_end
	
  body
    
    include ../_partials/header.pug

    //- 內容區塊
    .content
      block content
    
    include ../_partials/footer.pug

    script(src='/js/script.js')
  
    block body_end